<div class="todo {{#if (done_at) }} done {{/if}}">
	<div class="display" title="ダブルクリックして編集...">
	  {{#if status}}
	    <input class="check" type="checkbox" {{#if done_at }} checked="checked"{{/if}} />
	  {{/if}}
	  <div class="todo-content">{{title}}</div><span>{{done_at}}</span>
	  <span class="todo-destroy glyphicon glyphicon-remove-circle"></span>
	</div>
	<input class="edit" type="text" value="{{title}}" />
</div>